*{
    padding-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

} 
body{
    width: 90%;
    height: 90vh;
    background: url("./d44a88f4eee4af0275c4d607be193285.jpg") top right;
    background-size: cover;
  }
  .navbar {
    /* padding-left: 40px; */
    padding-top: 50px;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
  
    align-items: center;
  }
  
  .navbar li {
    position: relative;
    /* padding: 10px 0 10px 28px; */
    list-style: none;
  }
  .navbar li a{
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #888888;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }
  
  .navbar a,
  .navbar a:focus  {
    font-size: 18px;
    line-height: 0;
    /* margin-left: 5px; */
    /* border-bottom: 4px green; */
  }
  
  .navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #34b7a7;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }
 

.navbar a:hover,

.navbar:focus,
.navbar li:hover>a {
  color: #222222;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
  padding: 0;
}

.navbar .dropdown ul a {
  /* padding: 10px 20px; */
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar ul a:hover,
.navbar ul .active:hover,
.navbar ul li:hover>a {
  color: #34b7a7;
  
}

.navbar :hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar :hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar ul {
    left: -90%;
  }

  .navbar:hover>ul {
    left: -100%;
  }
}
 .words{
    margin-top: 100px;
    margin-left: 1%;    
 } 
.words h1{
    color:#222222;
    font-size: 55px;
}
.words h2 {
    color: #6f6f6f;
    margin-top: -22px;
    font-size: 25px;
    font-weight: 600;
  }

  .btn{
    width: 100px;
    background-color: #34b7a7;
    margin-left: 4%;
    padding: 15px 26px;
    border-radius: 30px;
  }
  .btn p{
    font-size: 15px;
    color: #fff;
    margin: auto; 
    margin-left: -9px;
 }
 @media (max-width: 1366px) {
    .navbar ul {
      left: -90%;
    }
  }